<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{siteTitle}}</title>
  <meta charset="UTF-8" />
  <meta name="robots" content="noindex, nofollow" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
  <link rel="alternate" type="application/rss+xml" title="{{siteTitle}}" href="{{feedHref}}" />
  <link href="reset.css" rel="stylesheet" />
  <link href="style.css" rel="stylesheet" />
  <!-- %before-head-end.html% -->
</head>

<body>
  <header>
    <button class="toggle"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      aria-hidden="true" role="img" class="iconify iconify--ph" width="32" height="32"
      preserveAspectRatio="xMidYMid meet" viewBox="0 0 256 256">
      <path fill="currentColor"
        d="M222.4 150.9a6.1 6.1 0 0 0-5.7-4.3h-.1l-1.7.3A86 86 0 0 1 109.1 41.1a6.8 6.8 0 0 0 .2-1.4a5.8 5.8 0 0 0-3.7-5.9a6.1 6.1 0 0 0-4-.2a98 98 0 1 0 120.8 120.7a6.5 6.5 0 0 0 0-3.4ZM128 214A86 86 0 0 1 95.2 48.5a98.1 98.1 0 0 0 112.3 112.3A86.1 86.1 0 0 1 128 214Z">
      </path>
    </svg></button>
    <menu>
      <a href="../tech/">技术拓展</a>
    </menu>
    <p>常读清单：</p>
    <div class="list">
      <a href="https://100r.co/site/home.html" target="_blank" rel="noopener noreferrer"><img src="./img/100r.webp" alt="100 Rabbits"><span>100 Rabbits</span></a>
      <a href="https://perell.com/" target="_blank" rel="noopener noreferrer"><img src="./img/perell.webp" alt="David Perell"><span>David Perell</span></a>
    </div>

    <p>常读文章：</p>
    <div class="list">
      <a href="https://perell.com/essay/against-3x-speed/" target="_blank" rel="noopener noreferrer"><img src="./img/against-3x-speed.webp" alt="Against 3X Speed - David Perell"><span>Against 3X Speed - David Perell</span></a>
      <a href="https://80000hours.org/articles/future-generations/" target="_blank" rel="noopener noreferrer"><img src="./img/future-generations.webp" alt="Longtermism: the moral significance of future generations"><span>Longtermism: the moral significance of future generations</span></a>
    </div>
  </header>

  <!-- %after-body-begin.html% -->
  {{#each sources}}
  <section class="site-content">
    <details class="site-expander" open>
      <summary>
        <div class="flex-container">
          <h2 class="site-heading">{{title}}</h2><a class="site-heading-url" href="{{siteUrl}}" target="_blank" rel="noopener noreferrer">(&hairsp;siteUrl&hairsp;)</a>
        </div>
      </summary>

      <ul class="sources card">
        {{#each dates}}
        <li class="source">
          <section>

            <h3 class="source-name"><time datatime="{{isoPublishDate}}">{{isoPublishDate}}</time></h3>
            <section class="articles-per-source">

              {{#each articles}}
              <article>
                <details class="article-expander">
                  <summary class="article-expander__title">{{title}}</summary>
                  <div class="article-summary-box-inner">
                    <a href={{link}} target="_blank" rel="noopener noreferrer">
                      <span class="summary-description">{{description}}</span>&nbsp;&nbsp;
                      <span>(&hairsp;{{readingTimeInMin}} min&hairsp;)</span>
                    </a>
                  </div>
                </details>
              </article>
              {{/each}}
            </section>
        </li>
        {{/each}}
      </ul>
    </details>
  </section>
  {{/each}}

  <footer>
      {{#if githubRunUrl}}
      <a class="footer-link" href="{{githubRunUrl}}">
        <time id="build-timestamp" datetime="{{siteBuildTimestamp}}">{{siteBuildTimestamp}}</time>
      </a>
      {{else}}
      <time id="build-timestamp" datetime="{{siteBuildTimestamp}}">{{siteBuildTimestamp}}</time>
      {{/if}}
  </footer>
  <script src="script.js"></script>
  <!-- %before-body-end.html% -->
</body>

</html>