<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{siteTitle}}</title>
  <meta charset="UTF-8"/>
  <meta name="robots" content="noindex, nofollow" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
  <link rel="alternate" type="application/rss+xml" title="{{siteTitle}}" href="{{feedHref}}" />
  <link href="reset.css" rel="stylesheet" />
  <link href="index.css" rel="stylesheet" />
  <!-- %before-head-end.html% -->
</head>

<body>
  <button class="toggle">Dark mode</button>
  <header>
    <dl>
      <dt><b>Site title</b></dt><dd>{{siteTitle}}</dd>
      <dt><b>Built on</b></dt><dd><time id="build-timestamp" datetime="{{siteBuildTimestamp}}">{{siteBuildTimestamp}}</time></dd>
      <dt><b>Cli version</b></dt><dd>{{cliVersion}}</dd>
      <dt><b>Documentation URL</b></dt><dd>{{projectUrl}}</dd>
    </dl>
    <p><a class="source-name__link" href="../tech/">技术拓展</a></p>
    <p>常读清单：</p>
    <ul>
      <li><a class="source-name__link" href="https://100r.co/site/home.html" target="_blank">100 Rabbits</a></li>
      <li><a class="source-name__link" href="https://perell.com/" target="_blank">David Perell</a></li>
    </ul>
    <p>常读文章：</p>
    <ul>
      <li><a class="source-name__link" href="https://perell.com/essay/against-3x-speed/" target="_blank">Against 3X Speed - David Perell</a></li>
    </ul>
  </header>

  <!-- %after-body-begin.html% -->
  {{#each dates}}
  <section class="daily-content">
    <h2 class="daily-heading"><time datatime="{{isoPublishDate}}">{{isoPublishDate}}</time></h2>
    <ul class="sources card">
      {{#each sources}}
      <li class="source">
        <section>
          <h3 class="source-name"><a class="source-name__link" href="{{siteUrl}}">{{title}}</a></h3>
          <section class="articles-per-source">

            {{#each articles}}
            <article>
              <details class="article-expander">
                <summary class="article-expander__title">{{title}}</summary>
                  <div class="article-summary-box-inner">
                    <span class="summary-description">{{description}}</span>&nbsp;&nbsp;
                    <span class="button">
                      <a href={{link}} target="_blank" rel="noopener noreferrer">Read · {{readingTimeInMin}} min</a>
                    <span/>
                  </div>
              </details>
            </article>
            {{/each}}
          </section>
      </li>
      {{/each}}
    </ul>
  </section>
  {{/each}}

  <script src="index.js"></script>
  <!-- %before-body-end.html% -->

  <!-- Convert url in plaintext to clickable link -->
  <script src="https://cdn.jsdelivr.net/npm/linkifyjs@3.0.3/dist/linkify.min.js"
    integrity="sha256-T3qrSmmpAv0yc3Zg9ia+TdnfEjEpHShKHJMI5sYYABA=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/linkify-element@3.0.3/dist/linkify-element.min.js"
    integrity="sha256-ChFxFBSMG0ophsSSWkTT9qS/iN7Rn2/kGYO8qsObbZs=" crossorigin="anonymous"></script>
  <script>document.querySelectorAll("article .summary-description").forEach($ => linkifyElement($, { attributes: { target: '_blank', rel: 'noopener noreferrer', class: 'article-summary-link'} }))</script>
</body>

</html>