<!DOCTYPE html>
<html lang="en">

<head>
  <title>{{siteTitle}}</title>
  <meta charset="UTF-8" />
  <meta name="robots" content="noindex, nofollow" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="shortcut icon" type="image/x-icon" href="favicon.ico" />
  <link rel="alternate" type="application/rss+xml" title="{{siteTitle}}" href="{{feedHref}}" />
  <link href="reset.css" rel="stylesheet" />
  <link href="style.css" rel="stylesheet" />
  <!-- %before-head-end.html% -->
</head>

<body>
  <header>
    <button class="toggle"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        aria-hidden="true" role="img" class="iconify iconify--ph" width="32" height="32"
        preserveAspectRatio="xMidYMid meet" viewBox="0 0 256 256">
        <path fill="currentColor"
          d="M222.4 150.9a6.1 6.1 0 0 0-5.7-4.3h-.1l-1.7.3A86 86 0 0 1 109.1 41.1a6.8 6.8 0 0 0 .2-1.4a5.8 5.8 0 0 0-3.7-5.9a6.1 6.1 0 0 0-4-.2a98 98 0 1 0 120.8 120.7a6.5 6.5 0 0 0 0-3.4ZM128 214A86 86 0 0 1 95.2 48.5a98.1 98.1 0 0 0 112.3 112.3A86.1 86.1 0 0 1 128 214Z">
        </path>
      </svg></button>
    <menu>
      <a href="../life/">观察生活</a>
    </menu>
    <p>常读清单：</p>
    <div class="list">
      <a href="https://css-tricks.com/" target="_blank" rel="noopener noreferrer"><img src="./img/css-tricks.webp" alt="CSS Tricks"><span>CSS Tricks</span></a>
      <a href="https://2ality.com/" target="_blank" rel="noopener noreferrer"><img src="./img/2ality.webp" alt="2ality – JavaScript and more"><span>2ality – JavaScript and more</span></a>
      <a href="https://meyerweb.com/eric/thoughts/" target="_blank" rel="noopener noreferrer"><img src="./img/meyerweb.webp" alt="Thoughts From Eric Archive"><span>Thoughts From Eric Archive</span></a>
      <a href="https://csdiy.wiki/" target="_blank" rel="noopener noreferrer"><img src="./img/csdiy.wiki.webp" alt="CS 自学指南"><span>CS 自学指南</span></a>
    </div>

    <p>常读文章：</p>
    <div class="list">
      <a href="https://manateelazycat.github.io/life/2016/03/03/my-life-before-28-years.html" target="_blank" rel="noopener noreferrer"><img src="./img/my-life-before-28-years.webp" alt="我人生的前28年 | 前 Deepin CTO 王勇"><span>我人生的前28年 | 前 Deepin CTO 王勇</span></a>
      <a href="https://manateelazycat.github.io/about.html" target="_blank" rel="noopener noreferrer"><img src="./img/about-wangyong.webp" alt="王勇的个人介绍"><span>王勇的个人介绍</span></a>
      <a href="https://geekplux.com/posts/how-i-learned-programming" target="_blank" rel="noopener noreferrer"><img src="./img/geekplux.webp" alt="我是如何学会编程的 | Geekplux"><span>我是如何学会编程的 | Geekplux</span></a>
      <a href="https://lutaonan.com/blog/my-coding-road/" target="_blank" rel="noopener noreferrer"><img src="./img/lutaonan.webp" alt="我的编程经历 | Randy's Blog"><span>我的编程经历 | Randy's Blog</span></a>
      <a href="http://norvig.com/21-days.html" target="_blank" rel="noopener noreferrer"><img src="./img/teach-yourself-ten.webp" alt="Teach Yourself Programming in Ten Years | Peter Norvig"><span>Teach Yourself Programming in Ten Years</span></a>
    </div>
  </header>

  <!-- %after-body-begin.html% -->
  {{#each sources}}
  <section class="site-content">
    <details class="site-expander">
      <summary>
        <div class="flex-container">
          <h2 class="site-heading">{{title}}</h2><a class="site-heading-url" href="{{siteUrl}}" target="_blank" rel="noopener noreferrer">(&hairsp;siteUrl&hairsp;)</a>
        </div>
      </summary>

      <ul class="sources card">
        {{#each dates}}
        <li class="source">
          <section>

            <h3 class="source-name"><time datatime="{{isoPublishDate}}">{{isoPublishDate}}</time></h3>
            <section class="articles-per-source">

              {{#each articles}}
              <article>
                <details class="article-expander">
                  <summary class="article-expander__title">{{title}}</summary>
                  <div class="article-summary-box-inner">
                    <a href={{link}} target="_blank" rel="noopener noreferrer">
                      <span class="summary-description">{{description}}</span>&nbsp;&nbsp;
                      <span class="button">&hairsp;{{readingTimeInMin}} min&hairsp;</span>
                    </a>
                  </div>
                </details>
              </article>
              {{/each}}
            </section>
        </li>
        {{/each}}
      </ul>
    </details>
  </section>
  {{/each}}

  <script src="script.js"></script>
  <!-- %before-body-end.html% -->

  <!-- Convert url in plaintext to clickable link | made for Hacker News -->
  <script src="https://cdn.jsdelivr.net/npm/linkifyjs@3.0.5/dist/linkify.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/linkify-element@3.0.4/dist/linkify-element.min.js"></script>
  <script>document.querySelectorAll("article .summary-description").forEach($ => linkifyElement($, { attributes: { target: '_blank', rel: 'noopener noreferrer', class: 'article-summary-link' } }))</script>
</body>

</html>